<div class="container">
	<i class="icon-asterisk"></i>
	Indicates a required field
	<br>
	<br>
	<div class="control-group">
		<label class="control-label">
			Sport Name
			<i class="icon-asterisk"></i>
		</label>
		<div class="controls">
			<input type="text">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">
			Sport Type
			<i class="icon-asterisk"></i>
		</label>
		<div class="controls">
			<select>
				<option value="pizza">
					Head to Head
				</option>
				<option value="salad">
					Meet
				</option>
				<option value="pizzasalad">
					Matchup
				</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">
			Method of Winning
			<i class="icon-asterisk"></i>
		</label>
		<div class="controls">
			<select class="input-medium">
				<option value="Score/Points">
					Score/Points
				</option>
				<option value="Highest">
					Highest
				</option>
				<option value="Lowest">
					Lowest
				</option>
				<option value="Conditional">
					Conditional
				</option>
				<option value="Placement">
					Placement
				</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">
			Method of Losing
		</label>
		<div class="controls">
			<select class="input-medium">
				<option value="Score/Points">
					Score/Points
				</option>
				<option value="Highest">
					Highest
				</option>
				<option value="Lowest">
					Lowest
				</option>
				<option value="Conditional">
					Conditional
				</option>
				<option value="Placement">
					Placement
				</option>
			</select>
		</div>
	</div>
	<label class="checkbox">
		<input type="checkbox">
		Disqualification Applicable
	</label>
	<label class="checkbox">
		<input type="checkbox">
		Forfeit Applicable
	</label>
	<label class="checkbox">
		<input type="checkbox">
		Ties Applicable
	</label>
	<br>
	<div class="control-group">
		<label class="control-label">
			Number of Periods
		</label>
		<div class="controls">
			<select class="input-mini">
				<option value="1">
					1
				</option>
				<option value="2">
					2
				</option>
				<option value="3">
					3
				</option>
			</select>
			<div class="control-group">
				<label class="control-label">
					Name of Periods
				</label>
				<div class="controls">
					<input placeholder="Quarter" type="text">
				</div>
			</div>
		</div>
	</div>
	<label class="checkbox">
		<input type="checkbox">
		Overtime
	</label>
	<label class="checkbox">
		<input type="checkbox">
		Shootout
		<div class="control-group">
			<label class="control-label">
				Number of Shootout Attempts
			</label>
			<div class="controls">
				<select class="input-mini">
					<option value="-">
						-
					</option>
					<option value="1">
						1
					</option>
					<option value="2">
						2
					</option>
					<option value="3">
						3
					</option>
				</select>
			</div>
		</div>
	</label>
	<br>
	<a class="btn">Add Statistics</a>
	<br>
	<br>
	<br>
	<label class="checkbox">
		<input type="checkbox">
		Sub-Events
		<div class="control-group">
			<label class="control-label">
				Number of Sub-Events
			</label>
			<div class="controls">
				<select class="input-mini">
					<option value="-">
						-
					</option>
					<option value="1">
						1
					</option>
					<option value="2">
						2
					</option>
					<option value="3">
						3
					</option>
					<option value="4">
						4
					</option>
					<option value="5">
						5
					</option>
					<option value="6">
						6
					</option>
					<option value="7">
						7
					</option>
				</select>
				<div class="control-group">
					<label class="control-label">
						Sub-Event Name
					</label>
					<div class="controls">
						<input type="text">
					</div>
				</div>
				<a class="btn">Add Sub-Event Statistics</a>
			</div>
		</div>
	</label>
	<br>
	<a class="btn">Save</a>
	<a class="btn btn-danger">Cancel</a>
</div>
