<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <style>
    </style>
  </head>
  <body>
    <div class="container">
    	<div class="navbar navbar-fixed-top navbar-inverse">
    		<div class="navbar-inner">
    			<img src="https://s3.amazonaws.com/media.jetstrap.com/AJpBkqobSLaDllHVXHjq_ss_logo.png" id="logo" width="300">
    			<ul class="nav pull-right">
    				<li class="active">
    					<a href="#">Home</a>
    				</li>
    				<li class="active">
    					<a href="#about">About</a>
    				</li>
    				<li class="active">
    					<a href="#contact">Contact</a>
    				</li>
    				<li class="active dropdown">
    					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <b class="caret"></b> User Name
                            </a>
    					<ul class="dropdown-menu">
    						<li>
    							<a href="#">Profile</a>
    						</li>
    						<li>
    							<a href="#">Log Out</a>
    						</li>
    					</ul>
    				</li>
    			</ul>
    		</div>
    	</div>
    	<footer>
    		<br>
    		<div class="control-group">
    			<label class="control-label">
    				Username
    			</label>
    			<div class="controls">
    				<input type="text">
    				<div class="control-group">
    					<label class="control-label">
    						Password
    					</label>
    					<div class="controls">
    						<input type="text">
    						
    					</div>
    				</div>
    			</div>
    		</div>
    		<button type="submit" class="btn">
    			Submit
    		</button>
    		<li class="">
    							<a href="#" class="">I Forgot my Password</a>
    						</li><li>
    							<a href="#" class="jetstrap-selected jetstrap-highlighted">I am a New User</a>
    						</li><div class="control-group">
    			<div class="controls">
    			</div>
    		</div>
    		<img src="https://s3.amazonaws.com/media.jetstrap.com/HuwlxiZiSn6Mw76ozN3w_hss_logo_blk.png" class="">
    		<p class="">
    			Copyright © 2013 Schedule Star®. All Rights Reserved.
    		</p>
    	</footer>
    </div>

    <style>
      
        body {
          padding-top: 60px;
          padding-bottom: 40px;
        }
      
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="assets/js/bootstrap.js">
    </script>
    <script>

    </script>
  </body>
</html>
