    <div class="container">
    	<div class="control-group">
    		<label class="control-label">
    			Add Filters
    		</label>
    		<div class="controls">
    			<input type="date" class="input-medium">
    			<select class="input-small">
    				<option value="Role">
    					Role
    				</option>
    				<option value="Coach">
    					Coach
    				</option>
    				<option value="Media">
    					Media
    				</option>
    			</select>
    			<select class="input-medium">
    				<option value="School">
    					School
    				</option>
    				<option value="School 1">
    					School 1
    				</option>
    				<option value="School 2">
    					School 2
    				</option>
    			</select>
    			<select class="input-medium">
    				<option value="Media Market">
    					Media Market
    				</option>
    				<option value="Market 1">
    					012345
    				</option>
    			</select>
    		</div>
    	</div>
    	<table class="table table-bordered" border="1" width="100%">
    		<tbody>
    			<tr>
    				<th style="background:grey; color: white">
    					<label class="checkbox">
    						<input type="checkbox">
    						Select All
    					</label>
    				</th>
    				<th style="text-align:center; background:grey; color: white">
    					Date Submitted
    				</th>
    				<th class="input-small" style="text-align:center; background:grey; color: white">
    					First Name
    				</th>
    				<th class="input-medium jetstrap-highlighted" style="text-align:center; background:grey; color: white">
    					Last Name
    				</th>
    				<th class="input-small" style="text-align:center; background:grey; color: white">
    					Role
    				</th>
    				<th style="text-align:center; background:grey; color: white">
    					School/Media Market
    				</th>
    			</tr>
    			<tr>
    				<td style="text-align:center">
    					<input type="checkbox">
    				</td>
    				<td style="text-align:center">
    					7/1/2013
    				</td>
    				<td style="text-align:center">
    					Steve
    				</td>
    				<td style="text-align:center">
    					Smith
    				</td>
    				<td style="text-align:center">
    					Coach
    				</td>
    				<td style="text-align:center">
    					School 1
    				</td>
    			</tr>
    			<tr>
    				<td style="text-align:center">
    					<input type="checkbox">
    				</td>
    				<td style="text-align:center">
    					8/2/2013
    				</td>
    				<td style="text-align:center">
    					Judy
    				</td>
    				<td style="text-align:center">
    					Picoult
    				</td>
    				<td style="text-align:center">
    					Media
    				</td>
    				<td style="text-align:center">
    					012345
    				</td>
    			</tr>
    		</tbody>
    	</table>
    	<a class="btn btn-success">Accept Selected Users</a>
    	<a class="btn btn-danger">Deny Selected users</a>
    	<div class="pagination">
    		<ul>
    			<li>
    				<a href="#">Prev</a>
    			</li>
    			<li>
    				<a href="#">1</a>
    			</li>
    			<li>
    				<a href="#">2</a>
    			</li>
    			<li>
    				<a href="#">3</a>
    			</li>
    			<li>
    				<a href="#">Next</a>
    			</li>
    		</ul>
    	</div>
    </div>

