<div id="tabs" class="container">
    	<div class="control-group">
    		<label class="control-label">
    			School
    		</label>
    		<div class="controls">
    			<input type="text">
    		</div>
    	</div>
    	<div class="control-group">
    		<label class="control-label">
    			Sport
    		</label>
			<div id="sports_listed_pro">
    		<div class="controls">
    			<select class="input-medium">
    				<option value="Football">
    					Football
    				</option>
    				<option value="Baseball">
    					Baseball
    				</option>
    				<option value="Field Hockey">
    					Field Hockey
    				</option>
    			</select>
    			<select class="input-medium">
    				<option value="Varsity">
    					Varsity
    				</option>
    				<option value="Junior Varsity">
    					Junior Varsity
    				</option>
    				<option value="Freshman">
    					Freshman
    				</option>
    			</select>
    			<select class="input-small">
    				<option value="Boys">
    					Boys
    				</option>
    			</select>
    		</div>
			</div>
    	</div>
    	<div>
    		<button id="add_button_pro" class="btn">Add Another Sport</button>
    	</div>
    	<hr>
    	<div>
    		<button type="submit" class="btn">
    			Submit
    		</button>
    	</div>
</div>

<script>
$(function() {
	$( "#tabs" ).tabs();
});

var anotherone = $("#sports_listed_pro").html();

$("#add_button_pro").click(function () {
	$("#sports_listed_pro").append(anotherone);
});
</script>

