<!DOCTYPE html>
<html ng-app="baseroutes">
  <head>
    <meta charset="utf-8">
    <title>Schedule Star
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    {% load staticfiles %}
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/bootstrap-responsive.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/jquery.timepicker.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/smoothness/jquery-ui-1.10.3.custom.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/tablesorter.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/overrides.css" %}" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{% static "assets/ico/favicon.ico" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "assets/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "assets/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "assets/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "assets/ico/apple-touch-icon-57-precomposed.png" %}">
	<!-- Script libraries -->
    <script src="{% static "assets/js/jquery/jquery-1.10.1.js" %}"></script>
    	<script src="{% static "assets/js/angular/angular.js" %}"></script>
	<script src="{% static "assets/js/angular/angular-ui-router.js" %}"></script>
	<script src="{% static "assets/js/jquery/jquery.cookie.js" %}"></script>
	<script src="{% static "assets/js/jquery-ui/jquery-ui-1.10.3.custom.js" %}"></script>
	<script src="{% static "assets/js/jquery/jquery.timepicker.js" %}"></script>
	<script src="{% static "assets/js/bootstrap/bootstrap.js" %}"></script>
	<script src="{% static "assets/js/tablesorter/jquery.tablesorter.js" %}"></script>

	<!-- Site scripts -->
	<script src="{% static "apps/main-routing.js" %}"></script>

  </head>
  {% block parent %}
  {% endblock %}
</html>
